#s1 {
    display: none;
}
#s2 {
    display: none;
}
#s3 {
    display: none;
}
#s4 {
    display: none;
}
#s5 {
    display: none;
}
#s6 {
    display: none;
}
#s7 {
    display: none;
}
#s8 {
    display: none;
}
